* {
    margin: 0px;
    padding: 0px;
}

.nav-container {
    display: flex;
    background-color: gray;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.menus {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 18px;
    font-style: oblique;
    color: aliceblue;
}

.banner-container {
    height: 100vh;
    background-image: url(./asset/image/background.jpg), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
}

.title {
    font-size: 55px;
    font-weight: bold;
    color: white;
}

.primary {
    color: orangered;
}

.description {
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
}

.btn {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;

}

.bg-color {
    background-color: orangered;
    color: white;
}

.service-container {
    height: 100vh;
    background-image: url(./asset/image/footer-bg.png), linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
}
.icon{
    width: 70px;
    margin-bottom: 20px;
}


.box{
    text-align: center;
    width: 150px;
    height: 100px;
    padding: 50px;
    background-color: white;
    color: black;
    border-radius: 8px;
    /* box-shadow: 4px 4px 8px lightgrey; */
}

.service-des{
    width: 50%;
}
.first-sec-box{
    display: flex;
    gap: 3px;
    margin: 3px;
}
.author-img{
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.author-container{
    display: flex;
    gap: 80px;
    align-items: center;
}
.profile-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    border-right: 2px solid orangered;
    padding-right: 20px;
}

.phone-call{
    display: flex;
    align-items: center;
}
.appointment-container{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}